<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        
        <!-- Latest compiled and minified JavaScript -->
        <link rel="stylesheet" href="/css/app.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="/scripts/main.js"></script>
    </head>
    <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Surreal Wedding Films</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/san-luis-obispo-wedding-videography">Films</a></li>
            <li class="active"><a href="/about-cory-williams">About <span class="sr-only">(current)</span></a></li>
            <li><a href="/contact-us">Book Us</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container main">
        <div class="col-xs-12 col-sm-4 col-md-4 thumbnail"><img src="/images/corywilliams.jpg" alt="Cory Williams. Wedding Cinematographer, San Luis Obispo"></div>
        <div class="col-xs-12 col-sm-8 col-md-8 ">
        <h1>Cory Williams<small>Wedding Cinematographer</small></h1>
        <legend>About Me</legend>
            <p>Hi there! My name's Cory Williams and I live in the awesome little town of San Luis Obispo, CA. </p>
            <p>All the movies I shoot get special love and attention. </p>
            <p>I make every effort to capture the magic of your wedding day and tell the story of your love in a dreamy and surreal wedding movie.  I work hard to ensure that your wedding film is not just an incredible story, it is a timeless work of art. </p>
        <legend>About You</legend>
        <p>Every person you meet has a story. What kind of story will you tell others about your wedding day? Let me handle that part. I come early and stay late. I push myself creatively to capture all the emotions, interactions, and details of your day so that we can tell your story and show everyone how much fun you had.</p>
        </div>
        
    </div>
    </body>
</html>