<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        
        <!-- Latest compiled and minified JavaScript -->
        <link rel="stylesheet" href="/css/app.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="/scripts/main.js"></script>
    </head>
    <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Surreal Wedding Films</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/san-luis-obispo-wedding-videography">Films</a></li>
            <li><a href="/about-cory-williams">About</a></li>
            <li><a href="/contact-us">Book Us</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
	<div class="container">
		<div class="page-header">
			<h1>Wedding Contract</h1>
		</div>

		<legend>Final payment</legend>
		<p>A non-refundable retainer of <strong>$800</strong> is required to reserve the date.
The retainer will be applied to the total cost of the chosen services. The remaining balance is due by the
wedding date. If this contract is canceled at any time before the wedding date, any retainer paid to the
cinematographer will not be refunded. </p>
		
		<legend>Format</legend>
		<p>The finished video will be on Blu-Ray and DVD-R.</p>

		<legend>Public usage</legend>
		<p>Surreal Wedding Films reserves the right to use samples of your wedding video and display them through
web site, advertising, or any purpose thought proper by the cinematographer. </p>

		<legend>Final product</legend>
		<p>If the cinematographer cannot perform this agreement due to fire, other casualty, natural
disaster or other cause beyond the control of the parties, the cinematographer shall return the deposit to the
client, but shall have no further liability with respect to the agreement. This limitation on liability shall also apply
in the event that video materials are damaged in processing, lost through camera malfunction, lost in shipping,
or otherwise lost or damaged without fault on part of the cinematographer. The wedding film will be
approximately 12 minutes in length with the wedding trailer included as a separate DVD and Blu-Ray features.
The final wedding film will be finished and received within approximately 12 weeks of the wedding date. </p>

<legend>Inherent Qualities</legend>
<p> Client is aware that the finished Blu-Ray and DVD discs may defect over time due to
handling, repeated play, and exposure to heat and sunlight. Thus, the client releases the cinematographer from
any liability for any claims whatsoever based upon defects of the Blu-Ray and DVD discs due to such
circumstances.</p>
<div class="checkbox">
    <label>
      <input type="checkbox"> I agree
    </label>
  </div>
  <a href="/step4" class="btn btn-primary">Continue</a>
	</div>
	
    </body>
</html>