<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        
        <!-- Latest compiled and minified JavaScript -->
        <link rel="stylesheet" href="/css/app.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="/scripts/main.js"></script>
    </head>
    <body>
	<div class="container">
        <div class="row">
            <div class="col-xs-12">
                <legend>Wedding Date</legend>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-3">
                <input class="form-control" type="text" name="date" placeholder="MM/DD/YYYY">
            </div> 
        </div>

        <div class="row">
            <div class="col-xs-12">
                <legend>Groom's Information</legend>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-4">
                <label for="name">First Name</label>
                <input class="form-control" type="text" name="name">
            </div>
            <div class="form-group col-xs-4">
                <label for="name">Last Name</label>
                <input class="form-control" type="text" name="name">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-4">
                <label for="name">Groom's Email Address</label>
                <input class="form-control" type="email" name="name">
            </div>
            <div class="form-group col-xs-4">
                <label for="name">Groom's Phone Number</label>
                <input class="form-control" type="text" name="name">
            </div>
        </div>
         
        <div class="row">
            <div class="col-xs-12">
                <legend>Bride's Information</legend>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-4">
                <label for="name">First Name</label>
                <input class="form-control" type="text" name="name">
            </div>
            <div class="form-group col-xs-4">
                <label for="name">Last Name</label>
                <input class="form-control" type="text" name="name">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-4">
                <label for="name">Bride's Email Address</label>
                <input class="form-control" type="email" name="name">
            </div>
            <div class="form-group col-xs-4">
                <label for="name">Bride's Phone Number</label>
                <input class="form-control" type="text" name="name">
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <legend>Wedding Day Details</legend>
            </div>
        </div>
        <div class="form-group">
            <label for="name">Getting Ready Location</label>
            <input class="form-control" type="text" name="name">         
        </div>
        <div class="form-group">
            <label for="name">Reception Location</label>
            <input class="form-control" type="text" name="name">         
        </div>
        <div class="form-group">
            <label for="name">Photographer's Name</label>
            <input class="form-control" type="text" name="name">         
        </div>
        <div class="form-group">
            <label for="name">Wedding Coordinator's Name</label>
            <input class="form-control" type="text" name="name">         
        </div>
        <div class="form-group">
            <label for="name">How did you hear about me?</label>
            <textarea class="form-control" name="" id="" cols="10" rows="5"></textarea>
        </div>
    </div>
    </body>
</html>