<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Surreal Wedding Films - Admin Dashboard</title>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        
        <!-- Latest compiled and minified JavaScript -->
        <link rel="stylesheet" href="/css/app.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="/scripts/main.js"></script>
    </head>
    <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Surreal Wedding Films</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/san-luis-obispo-wedding-videography">Films</a></li>
            <li><a href="/about-cory-williams">About</a></li>
            <li class="active"><a href="/contact-us">Book Us<span class="sr-only">(current)</span></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
        <div class="page-header">
            <h1>Lock in the Date</h1>
        </div>
        <div class="col-md-12">
            <p>A non-refundable retainer of <strong>$800</strong> is required to reserve the date.
The retainer will be applied to the total cost of the chosen services. The remaining balance is due by the
wedding date. If the contract is canceled at any time before the wedding date, any retainer paid to the
cinematographer will not be refunded. </p>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Pay Deposit Online</strong></div>
                <div class="panel-body">
                  Pay the booking deposit online and secure your wedding date! <br><br>
                  <form action="/stripe" method="POST">
                    <script
                      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="pk_test_42cKjCleNAPp2WYZK6kjaCse"
                      data-amount="80000"
                      data-name="Lock in the Date"
                      data-description="Surreal Wedding Films"
                      data-image="images/lock.png"
                      data-locale="auto">
                    </script>
                  </form> 
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Send Deposit in the Mail</strong></div>
                <div class="panel-body">
                        <address>
                          <strong>Surreal Wedding Films</strong><br>
                          PO BOX 1008<br>
                          San Luis Obispo, CA 93406<br>
                        </address>Please make checks payable to <i>Surreal Wedding Films</i>. 
                        <br>Please <a href="mailto:cory@surrealweddingfilms.com">contact us</a> if you have any questions
                </div>
            </div>
        </div>

        
    </div>
    </body>
</html>